<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <php>
        <!-- Test values -->
        <env name="APP_ENV" value="testing" />
        <env name="APP_KEY" value="base64:mAzAWhNdvQdowN39ybLHSV1jWxhQMjl5VvziycYCtSQ="/>
        <env name="DB_CONNECTION" value="testing"/>

        <env name="LARASCORD_CLIENT_ID" value="0000000000000000" />
        <env name="LARASCORD_CLIENT_SECRET" value="ZFe6qUaYL4PSJ5vH4Tm8gtJaX9xmeqJp" />
        <env name="LARASCORD_GRANT_TYPE" value="authorization_code" />
        <env name="LARASCORD_PREFIX" value="larascord" />
        <env name="LARASCORD_SCOPE" value="identify&amp;email" />
    </php>
</phpunit>